* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 80%;
  max-width: 600px;
  margin: auto;
}

.toolbar {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

textarea {
  width: 100%;
  height: 200px;
  margin-top: 10px;
}

.undo-redo {
  margin-top: 10px;
  gap: 10%;
}
